.web-navbar{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
}

.web-logo-img{
    height: 3rem;
    margin: 0rem;
    padding: 0rem 1rem;
}

.web-nav-menu-items{
    display: flex;
    margin: 0;
    padding: 0;
    height: 8%;
    
}
.web-nav-menu-items div{
    margin: auto;
}
.web-nav-menu-items a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', serif;
    list-style: none;
  
}

.web-nav-text{
    display:flex;
    list-style: none;
    font-size: 1rem;
    font-weight: 100;
    padding: 8px 8px;
    align-content: center;
  
}

.web-nav-text p {
    margin: 0em 0em;
    text-align: center;
}