.city-location{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-adjustments {
    padding-bottom: 85px;
}

.location-proceed-button-container{
    align-self: center;
    height: fit-content;
    width: 256px;
}