.sign-in{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-between;
}

.btn-google{
    height: 4rem;
    width: 13rem;
    display: flex;
    align-items: center;   
}
.bottom-icons{
    width:2rem;
    height:2rem;
} 

.btn-guest{
    height: 4rem;
    width: 13rem;
    display: flex;
    align-items: center;
}
