.secondarybutton{
    display:flex;
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
    background: #5669FF;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    position: fixed;
}
.btn-txt{
    margin: auto;
    text-align: center;
}
.btn-img{
    vertical-align: middle;
    margin-left: 15px;
    padding-bottom: 4px;
    width: 32px;
}