.navbar{
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem 1rem;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
}

.logo-img{
    height: 4rem;
    margin-left: 1rem;
    cursor: pointer;
}

.navbar-icons{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
} 

.nav-menu-items{
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav-menu-items a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', serif;
}

.nav-menu-items a:hover {
    text-decoration: none;
}
.nav-text{
    display:flex;
    list-style: none;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    align-content: center;
    cursor: pointer;
}

.nav-text p {
    margin: 0em 1em;
    text-align: center;
}

.nav-menu{
    position: fixed;
    top:0;
    left: -100%;
    transition: 350ms;
    background-color: white;
    height: 100%;
    z-index: 1;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
    z-index: 2;
}

a {
    text-decoration: none;
}
.navbar-toggle {
    height: 8%;
    padding-left: 16px;
    padding-top: 16px;
    list-style: none;
    border-bottom: 1px solid;
    cursor: pointer;
 }